<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<main>

<section class="lyj-hero">
    <div class="lyj-logo"></div>
	<h1>LyJ Lab</h1>
    <p>Diseño, código y creatividad para la web</p>

    <div class="lyj-buttons">
        <a href="#">Explorar proyectos</a>
        <a href="#">Ver tecnologías</a>
    </div>
</section>

<section class="lyj-info">
    <h2>Sobre LyJ Lab</h2>
    <p>
        Un laboratorio digital donde desarrollamos soluciones web,
        interfaces modernas y experiencias con WordPress.
    </p>
</section>

</main>

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->